@import "../styleHeader/header.scss";
@import "../vars/vars.scss";
* {
    @include un-sel;
}

.header {
    position: fixed;
    background-color: transparent;
    &__eng,
    &__rus {
        color: $main-blue-color;
    }
    &__number {
        color: $main-blue-color;
    }
    .btn {
        color: $main-blue-color;
        border: 1px solid grey;
    }
    .menu__btn>span,
    .menu__btn>span::after {
        background-color: $main-blue-color;
    }
    .menu__btn {
        position: relative;
        top: 0;
    }
}

.main {
    margin: 0% 0% 5% 0%;
    .news-inner__go-back {
        margin: 10% 2% 0% 5%;
    }
    .consult {
        margin: 0% 10% 2% 15%;
        &__inner {
            .consult__title {
                @include h2;
                margin-bottom: 2%;
                width: 20%;
                line-height: 110%;
                color: $main-blue-color;
            }
            .consult__subtitle {
                @include regular-paragraphs;
                width: 35%;
                line-height: 140%;
                color: $main-blue-color;
            }
        }
        &__form {
            margin-top: 6%;
            width: 100%;
            .consult__form-flex {
                @include flex-space-between;
                flex-wrap: wrap;
                column-gap: 10px;
                margin-bottom: 10px;
                #name,
                #number,
                #email {
                    font-size: 16px;
                }
                input[type="text"],
                input[type="number"],
                input[type="email"] {
                    margin-bottom: 1%;
                    width: 300px;
                    border: transparent;
                    color: $main-blue-color;
                    font-size: 16px;
                }
                .consult__name:after,
                .consult__number:after,
                .consult__email::after {
                    content: "";
                    margin: 5% 0;
                    display: block;
                    height: 1px;
                    background: rgba(0, 0, 50, 0.4);
                }
                input[type="text"]:focus,
                input[type="number"]:focus,
                input[type="email"]:focus {
                    outline: none;
                }
                .consult__label::after {
                    color: red;
                    content: "*";
                    position: relative;
                    bottom: 5px;
                }
                 ::-webkit-input-placeholder {
                    color: $main-blue-color;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 130%;
                }
                .consult__task {
                    width: 100%;
                }
                .consult__task::after {
                    content: "";
                    margin-top: 1%;
                    display: block;
                    height: 1px;
                    background: rgba(0, 0, 50, 0.4);
                }
                input[type="text"]:focus {
                    outline: none;
                }
            }
            #task {
                width: 100%;
                font-size: 15px;
                border: transparent;
                color: $main-blue-color;
            }
        }
        .consult__checkbox {
            margin-top: 5%;
            input[type="checkbox"] {
                display: none;
            }
            label {
                padding: 10px 0;
                color: $main-blue-color;
                cursor: pointer;
                font-weight: normal;
                font-size: 17px;
            }
            label:before {
                content: " ";
                display: inline-block;
                margin-right: 15px;
                width: 20px;
                height: 20px;
                background: #fff;
                text-align: center;
                border: 1px solid #e3e3e3;
                vertical-align: middle;
                color: #000;
            }
            input:checked+label:before {
                content: "";
                background: linear-gradient(112.73deg, #1e4fc6 1.67%, #5e1ec6 100%);
                background-image: url(../../images/imgHeader/checked.png);
                background-repeat: no-repeat;
            }
            .agree__link {
                color: $main-blue-color;
                cursor: pointer;
            }
            .agree__link_passage {
                display: block;
                padding-left: 38px;
            }
        }
        .consult__send {
            @include main-button;
            margin-top: 2%;
            padding: 2% 3%;
            line-height: 97%;
            letter-spacing: 0.1em;
            cursor: pointer;
        }
    }
    .contacts__address {
        display: none;
    }
}

.consult__footer {
    margin: 0 0 1% 5%;
    .consult__footer-text {
        @include vr-design;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .header {
        display: none;
    }
    .main {
        .news-inner__go-back {
            display: block;
            margin-top: 20px;
        }
        .consult {
            margin: 10% 6% 2% 6%;
            .consult__inner {
                .consult__title {
                    font-size: 25px;
                }
                .consult__subtitle {
                    width: 100%;
                    font-size: 16px;
                }
            }
            .consult__form {
                margin-bottom: 0;
                .consult__name:after,
                .consult__number:after,
                .consult__email::after {
                    content: "";
                    margin: 0% 0;
                }
            }
            .consult__form-flex {
                flex-wrap: wrap;
                .consult__label::after {
                    bottom: -15px;
                }
            }
            #name,
            #email,
            #number {
                padding-left: 10px;
            }
            .consult__name,
            .consult__number,
            .consult__task,
            .consult__email {
                margin-bottom: 0%;
                padding-left: 10px;
                width: 100%;
            }
            .consult__task {
                margin-top: 10%;
            }
            .consult__checkbox {
                label {
                    font-size: 14px;
                }
            }
            .consult__send {
                margin-left: 2%;
                padding: 5% 15%;
            }
        }
    }
    .consult__footer {
        margin-left: 25%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .main {
        .news-inner__go-back {
            margin-top: 9%;
        }
        .consult {
            margin: 0% 10% 0% 6%;
            .consult__inner {
                .consult__title {
                    margin: 3% 0 4% 0;
                    font-size: 36px;
                }
                .consult__subtitle {
                    width: 100%;
                    font-size: 20px;
                }
            }
            .consult__form-flex {
                flex-wrap: wrap;
            }
            .consult__name,
            .consult__number,
            .consult__task,
            .consult__email {
                margin-bottom: 1%;
                width: 30%;
            }
            .consult__task {
                width: 300px;
            }
            .consult__container {
                @include flex-space-between;
                align-items: center;
                .consult__checkbox {
                    .label {
                        padding: 10px 20px;
                    }
                }
            }
            .consult__send {
                margin: 0;
                padding: 2% 6%;
                letter-spacing: 0;
            }
        }
        .contacts__address {
            display: block;
            margin: 4% 0 0 50%;
            .contacts__info {
                margin-bottom: 2%;
                display: flex;
                justify-content: start;
                .contacts__info-link {
                    margin-left: 2%;
                    color: $main-blue-color;
                    font-family: $number-font;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 130%;
                    letter-spacing: 0.03em;
                }
            }
        }
    }
    .consult__footer {
        margin: 2% 0 2% 5%;
        .consult__footer-text {
            padding: 0;
        }
    }
}