@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  color: white;
}

.header {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  padding: 15px 0;
}
.header__inner {
  padding: 0 44px;
}
.header__columns {
  display: flex;
  justify-content: space-between;
  padding-right: 44px;
}
.header__logo-items {
  display: flex;
  justify-content: flex-start;
}
.header__eng {
  margin-left: 2.5em;
  margin-right: 1.3em;
  align-self: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}
.header__rus {
  margin-right: 1.3em;
  align-self: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}
.header__rus_white {
  color: white;
}
.header__rus_grey {
  color: rgba(255, 255, 255, 0.4);
}
.header__eng_clicked {
  color: white;
}
.header__info-items {
  display: flex;
}
.header__number {
  margin-right: 3em;
  align-self: center;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  font-family: "PT Mono", monospace;
  color: #ffffff;
}
.header__consult {
  margin-right: 10px 50px 0 0;
  padding-right: 93px;
}
.header__consult .btn {
  display: inline-block;
  padding: 10px 40px;
  position: relative;
  border-radius: 67px;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: center;
}
.header__consult .btn:hover {
  color: #5e1ec6;
}
.header .menu #menu__toggle {
  opacity: 0;
}
.header .menu__btn {
  display: flex;
  align-items: center;
  width: 36px;
  height: 10px;
  cursor: pointer;
  z-index: 1;
}
.header .menu__image {
  position: relative;
  right: 20px;
  top: 5px;
}
.header .menu__btn > span, .header .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 36px;
  height: 2px;
}
.header .menu__btn > span::after {
  content: "";
  top: 8px;
  width: 80%;
}
.header .menu__box {
  display: flex;
  justify-content: center;
  position: fixed;
  visibility: hidden;
  margin: 0px;
  padding: 5em 0;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  list-style: none;
  background-image: url(../images/imgHeader/news-background.png);
  background-size: cover;
  opacity: 1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
.header .menu__item {
  display: block;
  padding: 12px 24px;
  color: rgba(255, 255, 255, 0.4);
  font-family: "PT Mono", monospace;
  font-size: 45px;
  font-weight: 600;
  text-decoration: none;
}
.header .menu__item sup {
  margin: 20px;
}
.header .menu__contacts, .header .menu__number {
  display: none;
}
.header .menu__item:hover {
  color: #ffffff;
}
.header .menu #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.header .menu #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  width: 100%;
}
.header .menu #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

@media screen and (max-width: 768px) {
  .header__inner {
    padding: 0 22px;
  }
  .header__eng, .header__rus, .header__number, .header__consult {
    display: none;
  }
  .header__logo {
    width: 140px;
    height: 36px;
    padding: 6px 24px;
  }
  .header__hamburger {
    margin-left: auto;
  }
  .header__columns {
    padding-right: 25px;
  }
  .header .menu__image {
    display: none;
  }
  .header .menu__btn {
    width: 10px;
    height: 0px;
  }
  .header .menu__item {
    font-size: 20px;
  }
  .header .menu__contacts {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 14px;
  }
  .header .menu__number {
    display: flex;
    justify-content: center;
    margin: 5% 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: "PT Mono", monospace;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .header__inner {
    padding: 0 22px;
  }
  .header__eng, .header__rus {
    display: none;
  }
  .header__number {
    font-size: 16px;
  }
  .header__consult {
    margin: 0 0;
    padding-right: 30px;
  }
  .header__consult .btn {
    padding: 10px 24px;
    font-size: 12px;
    line-height: 15px;
  }
  .header__logo {
    width: 140px;
    height: 36px;
  }
  .header__hamburger {
    margin-left: auto;
  }
  .header__columns {
    padding-right: 25px;
  }
  .header .menu__image {
    display: none;
  }
  .header .menu__btn {
    width: 20px;
    height: 10px;
  }
  .header .menu__item {
    font-size: 40px;
  }
}
a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
  color: #ffffff;
}

.header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.463);
}
.header .header__number {
  color: white;
}
.header .btn {
  color: #ffffff;
  border: 1px solid #fff;
}
.header .menu__btn > span,
.header .menu__btn > span::after {
  background-color: white;
}
.header .menu__btn {
  position: fixed;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1326px;
  padding: 0px 15px;
  margin: 0px auto;
}

.activity {
  background-image: url("../images/imgPageHome/bg1_New.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.activity__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1430px;
  margin: 0px auto;
  min-height: 100%;
}
.activity__body {
  padding: 280px 15px 50px 15px;
}
.activity__info {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  padding: 0px 0px 270px 0px;
}
.activity__name {
  font-size: 71px;
  line-height: 100%;
  font-weight: 400;
  text-transform: uppercase;
}
.activity__first-title {
  padding: 40px 0px 10px 0px;
}
.activity__second-title {
  padding: 0px 0px 10px 50px;
}
.activity__second-title span {
  font-weight: bolder;
}
.activity__item {
  display: flex;
  flex-direction: column;
  padding: 15px 0px 15px 50px;
  color: rgba(255, 255, 255, 0.8);
}
.activity__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
.activity__list {
  display: inline-block;
  font-size: 14px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 10px 0px;
}
.activity__link {
  color: inherit;
  padding-left: 50px;
  text-decoration: none;
}
.activity__link .slash {
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0.08em;
  color: #1e4fc6;
}
.activity__link:hover {
  color: rgb(80, 39, 198);
}

.difference {
  background-image: url("../images/imgPageHome/bg2_New.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 920px;
}
.difference__container {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.difference__header {
  padding: 100px 0px 0px 0px;
}
.difference__title {
  display: flex;
  font-weight: 400;
  font-weight: 400;
  font-size: 52px;
  line-height: 57px;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.difference__title_s {
  display: flex;
  display: none;
}
.difference__body {
  display: flex;
  padding: 26px 0px 95px 0px;
}
.difference__column {
  flex: 0 1 50%;
  margin: 0px 35px 0px 80px;
}
.difference__image {
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  position: relative;
  padding: 0px 0px 40% 0px;
}
.difference__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.difference__subtitle {
  display: inline-block;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
  color: white;
  padding: 10px 0px;
  margin-bottom: 5px;
  text-decoration: none;
}
.difference__subtitle:hover {
  color: rgb(80, 39, 198);
}
.difference__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}

.decisions {
  background-image: url("../images/imgPageHome/bg2_New.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 920px;
}
.decisions__container {
  display: flex;
  flex-direction: column;
}
.decisions__item-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}
.decisions__top-left {
  padding-left: 20px;
}
.decisions__top-right {
  width: 70%;
}
.decisions__top-first {
  display: flex;
  flex: 0 1 50%;
  font-weight: 400;
  font-size: 52px;
  line-height: 57px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding-bottom: 14px;
  margin-bottom: 0px;
}
.decisions__top-second {
  margin-right: 52px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 100px;
}
.decisions__top-second span {
  font-weight: 700;
}
.decisions__item-second {
  display: flex;
  padding: 48px 0px 93px 0px;
}
.decisions__info-first {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  justify-content: flex-end;
  margin: 30px 52px 0px 52px;
  padding-left: 54px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  min-height: 404px;
  max-width: 100%;
  background: url("../images/imgPageHome/Page3img_left_2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.decisions__title-first {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.09em;
  padding-bottom: 5px 0px;
  margin-bottom: 0px;
}
.decisions__info-second {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  justify-content: flex-end;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  min-height: 404px;
  max-width: 100%;
  background: url("../images/imgPageHome/Page3img_right_2.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin: 40px 52px 0px 52px;
  padding-left: 54px;
  transform: translateY(40px);
}
.decisions__title-second {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.09em;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
.decisions__link {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 97%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  min-height: 40px;
  width: 240px;
  align-items: center;
  border-radius: 67px;
  transition: 0.33s all ease-out;
}
.decisions__link span {
  padding-right: 90px;
  background: url("../images/imgPageHome/arrow.png") right no-repeat;
}
.decisions__link:hover {
  color: rgb(80, 39, 198);
}

.room {
  background-image: url("../images/imgPageHome/bg2_New.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 920px;
}
.room__container {
  display: flex;
  flex-direction: column;
}
.room__link {
  display: flex;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 97%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}
.room__link span {
  padding-right: 90px;
  background: url("../images/imgPageHome/arrow.png") right no-repeat;
}
.room__link:hover {
  color: rgb(80, 39, 198);
}
.room__top {
  display: flex;
  margin-top: 107px;
  max-height: 624px;
}
.room__content {
  flex: 0 0 50%;
  padding: 134px 52px 30px 52px;
}
.room__title {
  display: flex;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding-bottom: 30px;
}
.room__text1 {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  padding: 0px 20px 14px 0px;
}
.room__text2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 30px;
}
.room__image {
  flex: 0 1 50%;
  width: 100%;
}
.room__line {
  width: 100vw;
  height: 1px;
  color: rgba(255, 255, 255, 0.8);
}
.room__bottom {
  display: flex;
  justify-content: space-between;
  flex: 1 1 100%;
}
.room__video {
  aspect-ratio: 16/9;
  height: 150px;
  display: flex;
  margin: 20px 40px;
  aspect-ratio: 16/9;
  max-width: 300px;
}
.room__text3 {
  display: none;
}
.room .carousel-inner {
  display: flex;
  max-width: 650px;
  max-height: 514px;
  margin: 110px;
}

.friend {
  background-image: url("../images/imgPageHome/bg5_New.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 920px;
}
.friend__container {
  display: flex;
  flex-direction: column;
  padding: 120px 0px 0px 32px;
}
.friend__title {
  font-weight: 400;
  font-size: 52px;
  line-height: 57px;
  text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding-bottom: 10px;
}
.friend__text {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.8);
  margin: 30px 0px 62px 0px;
  padding: 5px 0px;
}
.friend__numbers {
  display: flex;
  padding-bottom: 189px;
}
.friend__number {
  margin-right: 40px;
}
.friend__number-top {
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  font-family: "PT Mono", monospace;
}
.friend__number-bottom {
  display: flex;
  flex-wrap: nowrap;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}
.friend__number-list {
  display: flex;
}
.friend__number-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: 60px;
  text-align: center;
}
.friend__number-item_m {
  transform: translateY(-5px);
  margin-right: 30px;
}
.friend__number-item_g, .friend__number-item_gg {
  transform: translateY(-22px);
  margin-right: 60px;
}

.documents {
  background-image: url("../images/imgPageHome/bg2_New.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 920px;
}
.documents__container {
  display: flex;
  flex-direction: column;
  padding: 190px 0px 154px 0px;
}
.documents__title {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding-bottom: 51px;
}
.documents__body {
  display: flex;
  margin: 0px -35.67px;
}
.documents__item {
  flex: 0 1 33.333%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(70, 70, 91);
  border-radius: 20px;
  margin: 0px 35.66px;
}
.documents__item_last {
  display: none;
}
.documents__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  flex: 0 1 50%;
  padding: 21px 0px 48px 24px;
}
.documents__number {
  text-align: end;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  flex: 0 1 50%;
  padding: 21px 24px 48px 0px;
}
.documents__image {
  display: flex;
  justify-content: center;
  flex: 1 1 100%;
  padding: 0px 75px 63px 75px;
}

.team {
  background-image: url("../images/imgPageHome/bg2_New.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 920px;
}
.team__container {
  display: flex;
  flex-direction: column;
  padding: 100px 0px 0px 0px;
}
.team__title {
  display: flex;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding-left: 30px;
  padding-bottom: 55px;
}
.team__image {
  display: flex;
  justify-content: space-between;
  flex: 0 1 25%;
}
.team__image2 {
  transform: translateY(65px);
}
.team__image4 {
  transform: translateY(65px);
}

.reviews {
  background-image: url("../images/imgPageHome/bg2_New.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 920px;
}
.reviews__container {
  padding: 100px 0px 150px 0px;
}
.reviews__title {
  display: flex;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: white;
  padding-left: 30px;
  padding-bottom: 48px;
}
.reviews__title:hover {
  color: rgb(80, 39, 198);
}
.reviews__body {
  display: flex;
  flex: 0 1 33.333%;
  border: 1px solid rgb(155, 137, 137);
  border-radius: 10px;
}
.reviews__letter {
  padding: 10px;
}
.reviews__about {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
  border-right: 1px solid rgb(155, 137, 137);
  border-left: 1px solid rgb(155, 137, 137);
}
.reviews__about-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.03em;
  padding: 60px 0px 6px 0px;
}
.reviews__about-subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.4);
  padding-bottom: 5px;
}
.reviews__about-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  line-height: 140%;
  padding-bottom: 80px;
}
.reviews__about-logo {
  display: flex;
  justify-content: space-around;
}
.reviews__about-IPhone {
  display: none;
}
.reviews__logo_second {
  transform: translateY(38px);
}
.reviews__IPad {
  display: none;
}
.reviews__IPhone {
  display: none;
}

.project {
  background-image: url("../images/imgPageHome/bg10_New.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.project__container {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0px 55px 0px;
}
.project__name {
  flex: 0 1 50%;
}
.project__title {
  font-weight: 400;
  font-size: 52px;
  line-height: 57px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: white;
  padding-bottom: 20px;
}
.project__info {
  flex: 0 1 50%;
}
.project__info-tilte {
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.03em;
  padding: 5px 0px;
}
.project__bottom {
  flex: 1 1 100%;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}
.project .form * {
  outline: none;
}
.project .form {
  color: white;
  padding: 147px 0px 98px 0px;
}
.project .form input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(70, 70, 91);
  max-width: 270px;
}
.project .form__body {
  display: flex;
}
.project .form__left {
  margin-right: 54px;
}
.project .form__item {
  margin-bottom: 20px;
}
.project .form__label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.project .form__label a {
  color: rgb(80, 39, 198);
  margin-right: 5px;
}
.project .form__input:focus {
  box-shadow: 0 0 15px rgb(80, 39, 198);
}
.project .form__input {
  height: 20px;
  padding: 0px 20px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: white;
  transition: all 0.5s ease 0s;
}
.project .form__right {
  margin-right: 54px;
}
.project .form__button:hover {
  background: linear-gradient(112.73deg, #000fda 1.67%, #a202ff 100%);
}
.project .form__button:active {
  top: 3px;
}
.project .form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 97%;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
  background: linear-gradient(112.73deg, #a202ff 1.67%, #000fda 100%);
  border-radius: 67px;
  padding: 18px 37px;
  margin-top: 31px;
  border: none;
}
.project .checkbox {
  margin-top: 41px;
}
.project .checkbox__input {
  display: none;
}
.project .checkbox__input:checked {
  transform: scale(1);
}
.project .checkbox__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.project .checkbox__label a {
  color: rgb(80, 39, 198);
}
.project .checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 20px;
  height: 20px;
  background-color: white;
  border-radius: 2px;
  margin-right: 10px;
}
.project .checkbox__label::after {
  transition: transform 0.5s ease 0s;
  content: url("../images/imgPageHome/sign.png");
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
}
.project .checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}
.project .project__contacts {
  margin-bottom: 57px;
  display: flex;
  flex-direction: column;
}
.project__contacts-item {
  padding: 0px 0px 11px 50px;
  display: flex;
  align-items: center;
  min-height: 30px;
  color: white;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.03em;
  font-family: "PT Mono", monospace;
}
.project__contacts-item:hover {
  text-decoration: underline;
}
.project__contacts-item_phone {
  background: url("../images/imgPageHome/phone.png") 0 0 no-repeat;
}
.project__contacts-item_email {
  background: url("../images/imgPageHome/mail.png") 0 0 no-repeat;
}

.project-second {
  background-image: url("../images/imgPageHome/bg10_New.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 920px;
  display: none;
}
.project-second__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 186px 0px 55px 0px;
}
.project-second__name {
  flex: 0 1 100%;
}
.project-second__title {
  font-weight: 400;
  font-size: 52px;
  line-height: 57px;
  text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: white;
  padding-bottom: 20px;
}
.project-second__info {
  flex: 0 1 100%;
}
.project-second__info-tilte {
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.03em;
  padding: 5px 0px;
}
.project-second__bottom {
  flex: 1 1 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
}
.project-second .form * {
  outline: none;
}
.project-second .form {
  color: white;
  padding: 147px 0px 98px 0px;
}
.project-second .form input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(70, 70, 91);
  max-width: 270px;
}
.project-second .form__body {
  display: flex;
  flex-direction: column;
}
.project-second .form__left {
  margin-right: 0px;
  display: flex;
  flex-direction: column;
}
.project-second .form__item {
  margin-bottom: 20px;
}
.project-second .form__label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.project-second .form__label a {
  color: rgb(80, 39, 198);
  margin-right: 5px;
}
.project-second .form__input:focus {
  box-shadow: 0 0 15px rgb(80, 39, 198);
}
.project-second .form__input {
  height: 20px;
  padding: 0px 20px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: white;
  transition: all 0.5s ease 0s;
}
.project-second .form__right {
  margin-right: 0px;
}
.project-second .form__button:hover {
  background: linear-gradient(112.73deg, #000fda 1.67%, #a202ff 100%);
}
.project-second .form__button:active {
  top: 3px;
}
.project-second .form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 97%;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 0;
  background: linear-gradient(112.73deg, #a202ff 1.67%, #000fda 100%);
  border-radius: 67px;
  padding: 18px 20px;
  margin-top: 11px;
  border: none;
}
.project-second .checkbox {
  margin-top: 21px;
}
.project-second .checkbox__input {
  display: none;
}
.project-second .checkbox__input:checked {
  transform: scale(1);
}
.project-second .checkbox__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.project-second .checkbox__label a {
  color: rgb(80, 39, 198);
}
.project-second .checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 20px;
  height: 20px;
  background-color: white;
  border-radius: 2px;
  margin-right: 10px;
}
.project-second .checkbox__label::after {
  transition: transform 0.5s ease 0s;
  content: url("../images/imgPageHome/sign.png");
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
}
.project-second .checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}

.news {
  background-image: url("../images/imgPageHome/bg2_New.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2% 0 0 5%;
}
.news__title {
  font-weight: 400;
  font-size: 52px;
  line-height: 57px;
  text-transform: uppercase;
  margin-bottom: 60px;
  line-height: 110%;
  color: #ffffff;
}
.news__category-item {
  width: 45%;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
.news button {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background: linear-gradient(112.73deg, #1e4fc6 1.67%, #5e1ec6 100%);
  border-radius: 67px;
  border: none;
  width: 100px;
  height: 50px;
}
.news button:hover {
  background: linear-gradient(112.73deg, #000fda 1.67%, #a202ff 100%);
}
.news__category-text_all {
  width: 100px;
  text-align: center;
}
.news__wrapper {
  margin: 40px -40px 0px -40px;
  width: 100%;
  display: flex;
}
.news__box {
  margin: 0px 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
}
.news__box .news__link {
  text-decoration: none;
}
.news__box .box__img .box__img-adaptive {
  max-width: 100%;
}
.news__box .box__about {
  margin-bottom: 50px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.news__box .box__about .box__title {
  margin: 20px 0px;
  font-size: 23px;
  line-height: 130%;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.news__box .box__about .box__text {
  font-size: 14px;
  line-height: 130%;
  width: 95%;
  margin-bottom: 5%;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.news__box .news__comment {
  width: 380px;
}
.news__box .news__comment .box__date {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
.news__box .news__comment .box__date .box__comment {
  text-transform: uppercase;
}
.news__box .news__comment .box__date .box__vector {
  max-width: 10%;
}
.news__box .news__comment_first {
  padding-top: 60px;
}
.news__box .news__comment_second {
  padding-top: 20px;
}
.news__box .news__comment_third {
  padding-top: 10px;
}

.fixedbut {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  body .page__news {
    padding: 5%;
  }
  body .page__news .news__title {
    font-size: 32px;
    margin-bottom: 5%;
  }
  body .page__news .news__category-item {
    width: 70%;
    gap: 10px;
    flex-wrap: wrap;
  }
  body .page__news .news__category-items button {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    background: linear-gradient(112.73deg, #1e4fc6 1.67%, #5e1ec6 100%);
    border-radius: 67px;
    border: none;
    width: 100px;
    height: 50px;
  }
  body .page__news .news__category-items button:hover {
    background: linear-gradient(112.73deg, #000fda 1.67%, #a202ff 100%);
  }
  body .news__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  body .news__box {
    width: auto;
  }
  body .news__box .box__about {
    width: 100%;
  }
  body .news__box .box__about .box__title {
    font-size: 18px;
  }
  body .news__box .box__about .box__text {
    display: block;
  }
  body .news__box .box__about .news__comment {
    width: auto;
  }
  body .news__box .box__about .news__comment .box__date .box__date-item {
    font-size: 15px;
  }
  body .news__box .box__about .news__comment .box__date .box__comment {
    font-size: 15px;
  }
  body .news__box .box__about .news__comment .box__date:after {
    display: none;
  }
}
@media (max-width: 1350px) {
  .room__top {
    justify-content: center;
  }
  .room__content {
    flex: 0 1 40%;
    padding: 134px 10px 30px 30px;
  }
  .room__image {
    flex: 0 1 40%;
    width: 100%;
  }
  .documents__body {
    justify-content: center;
  }
  .documents__item {
    max-width: 280px;
  }
  .documents__item_last {
    display: none;
  }
  .documents__name {
    padding: 10px;
    margin: 0px;
  }
  .documents__number {
    padding: 10px;
    margin: 0px;
  }
  .documents__image {
    max-width: 281px;
    max-height: 327px;
    padding: 14px 35px 14px 35px;
  }
  .team__image1, .team__image2, .team__image3, .team__image4 {
    max-width: 270px;
    max-height: 367px;
  }
  .team__image1 img, .team__image2 img, .team__image3 img, .team__image4 img {
    width: 100%;
  }
  .reviews__about {
    padding: 0px 20px;
  }
  .reviews__about-text {
    padding-bottom: 20px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 900px;
  }
  .activity {
    background-image: url("../images/imgPageHome/bg-1-ipadmini-activity-New.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .activity__body {
    padding: 590px 15px 50px 15px;
  }
  .activity__name {
    font-size: 58px;
  }
  .activity__text {
    font-size: 16px;
    letter-spacing: 0.02em;
    margin: 0px;
  }
  .activity__first-title {
    padding: 0%;
  }
  .activity__info {
    padding-bottom: 90px;
  }
  .difference__column {
    margin: 0px;
    padding-right: 55px;
  }
  .difference__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 121%;
    letter-spacing: 0.02em;
  }
  .difference__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
  .decisions__item-first {
    flex-direction: column;
    margin-top: 50px;
  }
  .decisions__item-second {
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }
  .decisions__top-first {
    font-weight: 700;
    font-size: 32px;
    line-height: 121%;
    padding: 0px;
  }
  .decisions__top-second {
    padding: 14px 0px 21px 17px;
  }
  .decisions__top-right {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
  }
  .decisions__info-first {
    margin: 40px;
    padding: 0px;
    min-height: 288px;
    background-size: auto;
    width: 60%;
  }
  .decisions__info-second {
    margin: 0px;
    padding: 0px;
    min-height: 288px;
    width: 60%;
    background-position: center center;
  }
  .decisions__title-first {
    padding-left: 25px;
  }
  .decisions__title-second {
    padding-left: 25px;
  }
  .room__container {
    flex-direction: column;
  }
  .room__top {
    flex-direction: column;
    margin-top: 128px;
    min-height: 635px;
  }
  .room__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 121%;
    padding-bottom: 5px;
    margin: 0px;
  }
  .room__bottom {
    margin: 16px 0px;
  }
  .room__content {
    padding: 0px;
    flex: 0 1 100%;
  }
  .room__image {
    flex: 0 1 100%;
  }
  .room__video {
    aspect-ratio: 16/9;
    height: 77px;
    display: flex;
    margin: 16px 20px;
    aspect-ratio: 16/9;
    max-width: 300px;
  }
  .room__text3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
  .room__text3 p:first-letter {
    color: white;
    font-weight: bold;
  }
  .room__text1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding: 0px 100px 0px 0px;
  }
  .room__text2, .room__link, .room__line {
    display: none;
  }
  .carousel-inner {
    display: flex;
    max-width: 650px;
    max-height: 514px;
    margin: 110px;
  }
  .friend {
    background-image: url("../images/imgPageHome/bg-5-ipadmini-friends-New.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .friend__container {
    padding: 20px 0px 0px 30px;
  }
  .friend__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 121%;
    margin: 0px;
    padding-bottom: 5px;
  }
  .friend__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding: 0px;
    margin: 14px 0px 39px 0px;
  }
  .friend__numbers {
    flex-wrap: wrap;
    margin-bottom: 377px;
  }
  .friend__number {
    margin-right: 50px;
    padding-bottom: 36px;
  }
  .friend__number-list {
    padding: 0px;
    margin: 0px;
  }
  .friend__number-top {
    font-size: 42px;
    line-height: 130%;
  }
  .friend__number-bottom {
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
  .friend__number-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.06em;
    margin: 0px 30px 0px 0px;
  }
  .friend__number-item_gg {
    display: none;
  }
  .friend p {
    margin: 0%;
  }
  .decisions__link {
    margin-left: 30px;
  }
  .documents__container {
    display: flex;
    flex-direction: column;
    padding: 100px 0px 154px 0px;
  }
  .documents__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 121%;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    padding: 0px 0px 24px 0px;
  }
  .documents__body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .documents__item {
    flex: 0 1 25%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(70, 70, 91);
    border-radius: 20px;
    margin: 0px 10px;
  }
  .documents__item_last {
    display: flex;
  }
  .documents__image {
    max-width: 281px;
    max-height: 327px;
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    padding: 14px 35px 14px 35px;
  }
  .documents__name {
    display: none;
  }
  .documents__number {
    display: none;
  }
  .team__container {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 145px 0px;
  }
  .team__title {
    display: flex;
    font-weight: 700;
    font-size: 32px;
    line-height: 121%;
    padding-bottom: 24px;
  }
  .team__image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .team__image1, .team__image2, .team__image3, .team__image4 {
    max-width: 221px;
    max-height: 324px;
  }
  .team__image1 img, .team__image2 img, .team__image3 img, .team__image4 img {
    width: 100%;
  }
  .team__image1, .team__image2 {
    transform: translateY(0px);
    margin-right: 71px;
  }
  .team__image3 {
    margin: 10px 70px 0px 37px;
  }
  .team__image4 {
    transform: translateY(30px);
    margin-top: 10px;
  }
  .reviews__container {
    padding: 0px 0px 109px 0px;
    padding-left: 0px;
  }
  .reviews__link {
    display: flex;
    justify-content: center;
  }
  .reviews__title {
    font-size: 32px;
    line-height: 121%;
    letter-spacing: 0.02em;
  }
  .reviews__title:hover {
    color: rgb(80, 39, 198);
  }
  .reviews__body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: none;
    margin: 0px -15px;
  }
  .reviews__letter {
    flex: 0 1 50%;
    max-width: 280px;
    min-height: 390px;
    border: 1px solid rgb(155, 137, 137);
    border-radius: 10px;
    padding: 12px;
    margin: 0px 12px;
  }
  .reviews__letter img {
    width: 100%;
  }
  .reviews__about {
    display: none;
  }
  .reviews__about-title {
    font-size: 18px;
    line-height: 110%;
    padding: 16px 0px 14px 0px;
  }
  .reviews__about-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .reviews__about-text {
    font-size: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .reviews__IPad {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    align-items: center;
  }
  .reviews__about-text {
    padding-left: 5%;
  }
  .project {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
  }
  .project__container {
    display: flex;
    flex-direction: column;
    padding: 30px 0px 47px 30px;
  }
  .project__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 121%;
    padding-bottom: 20px;
  }
  .project__info-tilte {
    font-size: 20px;
    line-height: 110%;
  }
  .project__info_contacts {
    margin-bottom: 57px;
  }
  .project__contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    align-items: flex-end;
  }
  .project .project__contacts-item {
    padding: 0px 10px 22px 50px;
    font-size: 16px;
  }
  .project .project__contacts-item_phone {
    padding-right: 85px;
  }
  .project .project__bottom {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
  }
  .project .checkbox {
    margin-top: 37px;
  }
  .project .checkbox__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
  }
  .project .form {
    padding: 83px 0px 112px 0px;
  }
  .project .form input[type=text] {
    max-width: 245px;
  }
  .project .form__left {
    margin-right: 24px;
  }
  .project .form__item {
    margin-bottom: 36px;
  }
  .project .form__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 121%;
    color: rgba(255, 255, 255, 0.5);
  }
  .project .form__button {
    min-height: 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 97%;
    letter-spacing: 0.05em;
    padding: 16px 34px;
    margin-top: 31px;
    border: none;
  }
}
@media (min-width: 495px) and (max-width: 768px) {
  .container {
    max-width: 584px;
    padding: 0px;
  }
  .activity .activity__list {
    font-size: 10px;
  }
  .difference .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .difference .difference__header {
    line-height: 0px;
    width: 100%;
    padding-top: 10px;
  }
  .difference__title {
    display: flex;
    font-weight: 400;
    font-weight: 400;
    font-size: 52px;
    line-height: 57px;
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
  }
  .difference__column {
    padding: 0px 10px;
  }
  .decisions__item-first {
    margin-top: 10px;
  }
  .decisions .decisions__top-right {
    width: 100%;
  }
  .room__text1 {
    padding-right: 10px;
  }
  .room__top {
    margin: 0px;
  }
  .room .carousel-inner {
    display: flex;
    max-width: 584px;
    max-height: 462px;
    margin: 0px;
  }
  .documents__body {
    flex-wrap: wrap;
    margin: 0px -15px 143px -15px;
  }
  .reviews__container {
    padding: 30px 0px 109px 0px;
  }
  .reviews__IPad {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
    align-items: flex-start;
    padding-left: 7%;
    margin: 5px;
  }
  .reviews .reviews__about-text {
    padding-left: 0px;
  }
  .reviews p {
    margin-bottom: 0rem;
    padding: 5px;
  }
}
@media (max-width: 494px) {
  .container {
    max-width: 450px;
    padding: 0 15px;
  }
  .activity {
    background-image: url("../images/imgPageHome/bg-1-iphone-activity-New.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .activity__body {
    padding: 590px 15px 50px 15px;
  }
  .activity__name {
    font-size: 58px;
  }
  .activity .activity__item {
    padding-left: 0px;
  }
  .activity__text {
    font-size: 16px;
    letter-spacing: 0.02em;
    margin: 0px;
    padding: 0px;
  }
  .activity__info {
    padding-bottom: 90px;
  }
  .activity .activity__list {
    font-size: 10px;
  }
  .activity .activity__list .activity__link {
    padding-left: 0px;
  }
  .difference .difference__header {
    padding: 50px 0px 0px 0px;
  }
  .difference .difference__content {
    padding-bottom: 20px;
  }
  .difference__body {
    flex-direction: column;
    padding-left: 20px;
  }
  .difference__column {
    margin: 0px;
  }
  .difference__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 121%;
    letter-spacing: 0.02em;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
  }
  .difference__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
  .decisions__container {
    padding-left: 0px;
  }
  .decisions .decisions__top-left {
    padding-left: 10px;
  }
  .decisions__item-first {
    flex-direction: column;
    margin-top: 100px;
  }
  .decisions__item-second {
    flex-direction: column;
    padding: 10px 0px;
  }
  .decisions__top-first {
    font-weight: 700;
    font-size: 32px;
    line-height: 121%;
    padding: 0px;
  }
  .decisions__top-second {
    padding: 14px 0px 21px 13px;
  }
  .decisions__top-right {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    width: 100%;
  }
  .decisions__info-first {
    margin: 0px;
    padding: 0px;
    min-height: 288px;
  }
  .decisions__info-second {
    margin: 0px;
    padding: 0px;
    min-height: 288px;
  }
  .room__container {
    flex-direction: column;
  }
  .room__top {
    flex-direction: column;
    margin-top: 108px;
    min-height: 635px;
  }
  .room__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 121%;
    padding-bottom: 14px;
    margin: 0px;
  }
  .room__bottom {
    margin: 16px 0px;
  }
  .room__content {
    padding: 0px;
    flex: 0 1 100%;
  }
  .room__image {
    flex: 0 1 100%;
  }
  .room__video {
    aspect-ratio: 16/9;
    height: 77px;
    display: flex;
    margin: 16px 20px;
    aspect-ratio: 16/9;
    max-width: 300px;
  }
  .room__video_s {
    display: none;
  }
  .room__text3 {
    display: flex;
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
  .room__text1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding: 0px 100px 38px 0px;
  }
  .room__text2, .room__link, .room__line {
    display: none;
  }
  .room .carousel-inner {
    display: flex;
    max-width: 584px;
    max-height: 462px;
    margin: 0px;
  }
  .room p {
    padding-right: 10px;
  }
  .friend {
    background-image: url("../images/imgPageHome/bg-5-ipadmini-friends-New.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .friend__container {
    padding: 100px 15px 45px 15px;
  }
  .friend__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 121%;
    margin: 0px;
    padding-bottom: 5px;
  }
  .friend__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding: 0px;
    margin: 14px 0px 39px 0px;
  }
  .friend__numbers {
    flex-wrap: wrap;
    margin-bottom: 377px;
  }
  .friend__number {
    margin-right: 50px;
    padding-bottom: 36px;
  }
  .friend__number-list {
    padding: 0px;
    margin: 0px;
  }
  .friend__number-top {
    font-size: 42px;
    line-height: 130%;
  }
  .friend__number-bottom {
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
  .friend__number-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.06em;
    margin: 0px 30px 0px 0px;
  }
  .friend__number-item_gg {
    display: none;
  }
  .friend p {
    margin: 0px;
  }
  .documents__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 121%;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    padding: 100px 0px 24px 10px;
  }
  .documents__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px 143px -15px;
  }
  .documents__item {
    flex: 0 1 25%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(70, 70, 91);
    border-radius: 20px;
    margin: 0px 10px;
  }
  .documents__item_last {
    display: none;
  }
  .documents__item_s {
    display: none;
  }
  .documents__image {
    max-width: 281px;
    max-height: 327px;
    display: flex;
    justify-content: center;
    flex: 1 1 100%;
    padding: 14px 35px 14px 35px;
  }
  .documents__name {
    display: none;
  }
  .documents__number {
    display: none;
  }
  .team__container {
    display: flex;
    flex-direction: column;
    padding: 144px 0px 145px 0px;
  }
  .team__title {
    display: flex;
    font-weight: 700;
    font-size: 32px;
    line-height: 121%;
    padding-bottom: 24px;
    justify-content: center;
  }
  .team__image {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
  }
  .team__image1, .team__image2, .team__image3, .team__image4 {
    max-width: 221px;
    max-height: 324px;
  }
  .team__image1 img, .team__image2 img, .team__image3 img, .team__image4 img {
    width: 100%;
  }
  .team__image1, .team__image2 {
    transform: translateY(0px);
    margin-right: 71px;
  }
  .team__image3 {
    margin: 0px 70px 0px 37px;
  }
  .team__image4 {
    transform: translateY(0px);
  }
  .reviews__container {
    padding: 144px 0px 109px 0px;
  }
  .reviews__title {
    font-size: 32px;
    line-height: 121%;
    letter-spacing: 0.02em;
  }
  .reviews__title:hover {
    color: rgb(80, 39, 198);
  }
  .reviews__body {
    display: flex;
    flex-wrap: wrap;
    border: none;
    margin: 0px -15px;
  }
  .reviews__letter {
    flex: 0 1 50%;
    max-width: 280px;
    min-height: 390px;
    border: 1px solid rgb(155, 137, 137);
    border-radius: 10px;
    padding: 12px;
    margin: 0px 12px;
  }
  .reviews__letter img {
    width: 100%;
  }
  .reviews__about {
    display: none;
  }
  .reviews__about-title {
    font-size: 18px;
    line-height: 110%;
    padding: 16px 0px 4px 0px;
  }
  .reviews__about-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding-bottom: 12px;
  }
  .reviews__about-text {
    font-size: 16px;
    padding-bottom: 80px;
  }
  .reviews__IPad {
    display: flex;
    flex-direction: column;
    flex: 0 1 100%;
  }
  .reviews__container {
    padding-top: 88px;
  }
  .reviews__link {
    display: flex;
    justify-content: center;
  }
  .reviews__title {
    font-size: 32px;
    line-height: 103%;
    letter-spacing: 0.01em;
    padding: 0px;
    margin-bottom: 15px;
  }
  .reviews__body {
    display: flex;
    flex-wrap: wrap;
    border: none;
    margin-left: 20px;
    justify-content: space-around;
  }
  .reviews__letter {
    flex: 0 1 50%;
    max-width: 97px;
    min-height: 141px;
    border: none;
    padding: 0px;
    margin: 0px;
  }
  .reviews__letter img {
    width: 100%;
  }
  .reviews__letter_s {
    display: none;
  }
  .reviews__about {
    display: none;
  }
  .reviews__about-title {
    display: flex;
    flex: 0 1 50%;
    font-size: 16px;
    line-height: 110%;
    padding: 0px;
  }
  .reviews__about-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding-bottom: 0px;
  }
  .reviews__about-text {
    font-size: 16px;
    padding-bottom: 80px;
  }
  .reviews__about-IPhone {
    display: flex;
    padding: 15px 0px 100px 0px;
    font-size: 14px;
    line-height: 110%;
  }
  .reviews__IPhone {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    margin-left: 14px;
  }
  .reviews__IPad {
    display: none;
  }
  .reviews__line {
    width: 100vw;
    height: 1px;
    color: rgba(255, 255, 255, 0.8);
  }
  .project {
    background-image: url("../images/imgPageHome/bg-10-ipadmini-project-New.png");
  }
  .project__container {
    display: flex;
    flex-direction: column;
    padding: 144px 15px 47px 15px;
  }
  .project__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 121%;
    padding-bottom: 20px;
  }
  .project__info-tilte {
    font-size: 20px;
    line-height: 110%;
  }
  .project__info_contacts {
    margin-bottom: 57px;
  }
  .project__contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    align-items: flex-end;
  }
  .project .project__contacts-item {
    padding: 0px 0px 22px 50px;
    font-size: 16px;
  }
  .project .project__contacts-item_phone {
    padding-right: 70px;
  }
  .project .project__bottom {
    display: flex;
    justify-content: center;
    padding-left: 140px;
  }
  .project .checkbox {
    margin-top: 37px;
  }
  .project .checkbox__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
  }
  .project .form {
    padding: 83px 0px 112px 0px;
  }
  .project .form input[type=text] {
    max-width: 245px;
  }
  .project .form__left {
    margin-right: 24px;
  }
  .project .form__item {
    margin-bottom: 36px;
  }
  .project .form__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 121%;
    color: rgba(255, 255, 255, 0.5);
  }
  .project .form__button {
    min-height: 45px;
    font-weight: 400;
    font-size: 13px;
    line-height: 97%;
    letter-spacing: 0.05em;
    padding: 16px 34px;
    margin-top: 31px;
    border: none;
  }
}
@media (max-width: 380px) {
  .container {
    padding: 0px;
    max-width: 272px;
  }
  .activity,
  .difference,
  .decisions,
  .room,
  .friend,
  .documents,
  .team,
  .reviews,
  .project,
  .project-second {
    min-height: 506px;
  }
  .activity {
    background-image: url("../images/imgPageHome/bg-1-iphone-activity-New.png");
    background-position: top center;
  }
  .activity__body {
    padding: 250px 15px 20px 15px;
  }
  .activity__name {
    font-size: 40px;
    padding-left: 20px;
  }
  .activity__text {
    font-size: 12px;
  }
  .activity__item {
    padding: 0px 0px 10px 20px;
  }
  .activity__info {
    padding-bottom: 0px;
  }
  .activity__first-title, .activity__second-title {
    margin: 0px;
  }
  .activity__second-title {
    font-size: 30px;
    padding: 0px 0px 10px 0px;
  }
  .activity__list {
    display: flex;
    flex-direction: column;
  }
  .activity__link {
    font-size: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
  }
  .activity__link .word {
    padding-left: 13px;
  }
  .difference__header {
    padding-top: 40px;
  }
  .difference__title {
    display: none;
  }
  .difference__title_s {
    display: flex;
    font-weight: 700;
    font-size: 25px;
    line-height: 103%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }
  .difference__body {
    display: flex;
    padding: 0px 0px 60px 0px;
  }
  .difference__column {
    flex: 0 1 100%;
    padding: 0px;
  }
  .difference__column_s {
    display: none;
  }
  .difference__image {
    margin-left: 20px;
    padding: 0px 0px 70% 0px;
  }
  .difference__image img {
    width: 100%;
  }
  .difference__subtitle {
    display: none;
  }
  .difference__subtitle:hover {
    color: rgb(80, 39, 198);
  }
  .difference__text {
    line-height: 110%;
    margin-left: 0px;
    padding: 20px 0px 0px 0px;
  }
  .decisions__item-first {
    margin-top: 30px;
  }
  .decisions__top-first {
    font-size: 25px;
    line-height: 103%;
    letter-spacing: 0.01em;
  }
  .decisions__link {
    min-height: 30px;
    width: 240px;
    font-size: 10px;
    padding-left: 0px;
    margin: 0px;
  }
  .decisions__top-right {
    display: none;
  }
  .decisions__title-first, .decisions__title-second {
    font-size: 12px;
    line-height: 112%;
    padding-left: 10px;
  }
  .decisions__info-first {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 256px;
    margin-left: 0px;
    padding: 0px;
    min-height: 152px;
  }
  .decisions__info-second {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 256px;
    margin-left: 0px;
    padding: 0px;
    min-height: 152px;
  }
  .room__top {
    margin-top: 40px;
    min-height: 0px;
  }
  .room__title {
    font-size: 24px;
    line-height: 103%;
    padding-bottom: 14px;
    margin: 0px;
  }
  .room__bottom {
    margin: 0px;
  }
  .room__video {
    display: none;
  }
  .room__text3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 120%;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
  }
  .room__text1 {
    line-height: 110%;
    padding: 0px 0px 15px 0px;
  }
  .room .carousel-inner {
    display: flex;
    margin: 0px;
    max-width: 100%;
    height: auto;
  }
  .friend__container {
    padding: 40px 0px 25px 0px;
  }
  .friend__title {
    font-size: 25px;
    line-height: 103%;
    letter-spacing: 0.01em;
  }
  .friend__text {
    line-height: 110%;
    margin: 17px 0px 28px 0px;
  }
  .friend__numbers {
    flex-wrap: wrap;
    margin: 0px 0px 40px 5px;
  }
  .friend__number-item_s {
    display: none;
  }
  .friend__number {
    margin-right: 28px;
    padding-bottom: 6px;
  }
  .friend__number_s {
    margin-left: 40px;
  }
  .friend__number-top {
    font-size: 30px;
  }
  .friend__number-bottom {
    line-height: 110%;
  }
  .friend__trast {
    margin-left: 20px;
  }
  .documents__title {
    font-size: 25px;
    line-height: 103%;
    letter-spacing: 0.01em;
    padding: 40px 0px 29px 0px;
  }
  .documents__body {
    justify-content: center;
    margin-bottom: 46px;
  }
  .documents__item_s, .documents__item_last {
    display: none;
  }
  .documents__item {
    max-width: 240px;
    flex: 0 1 100%;
    margin: 0px;
    border: 1px solid rgb(70, 70, 91);
    border-radius: 5px;
  }
  .documents__image {
    justify-content: center;
    max-width: 240px;
    max-height: 332px;
    padding: 5px;
  }
  .documents__image img {
    max-width: 100%;
  }
  .team__container {
    padding: 40px 0px 60px 0px;
  }
  .team__title {
    font-size: 25px;
    line-height: 103%;
    padding: 22px 0px;
  }
  .team__image {
    display: flex;
    justify-content: center;
  }
  .team__image2, .team__image3, .team__image4 {
    display: none;
  }
  .team__image1 {
    max-width: 241px;
    max-height: 328px;
  }
  .team__image1 img {
    width: 100%;
  }
  .team__image1 {
    margin-right: 0px;
  }
  .reviews__container {
    padding-top: 40px;
  }
  .reviews__title {
    font-size: 25px;
    line-height: 103%;
    letter-spacing: 0.01em;
    padding: 0px;
    margin-bottom: 15px;
  }
  .reviews__about-IPhone {
    padding: 20px 0px 40px 0px;
  }
  .reviews p {
    margin-bottom: 0px;
  }
  .project {
    background-image: url("../images/imgPageHome/bg-10-ipadmini-project2-New.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .project__container {
    padding: 88px 0px 38px 0px;
  }
  .project__title {
    font-size: 25px;
    line-height: 103%;
    padding-bottom: 0px;
    margin: 0px;
  }
  .project__info-tilte {
    font-size: 19px;
    margin: 0px;
    padding: 0px;
  }
  .project__info-tilte:first-child {
    margin-top: 33px;
  }
  .project__contacts {
    margin-bottom: 120px;
    align-items: flex-start;
    margin-left: 20px;
  }
  .project__contacts-item {
    font-size: 14px;
  }
  .project .project__contacts-item {
    padding: 0px 0px 10px 40px;
    font-size: 14px;
  }
  .project .project__contacts-item_phone {
    padding-right: 0px;
  }
  .project__bottom {
    font-size: 13px;
  }
  .project .form {
    padding: 0px;
  }
  .project .form input[type=text] {
    max-width: 245px;
  }
  .project .form__left {
    display: none;
  }
  .project .form__right {
    margin: 0px;
  }
  .project .form__item {
    display: none;
  }
  .project .form__button {
    min-height: 45px;
    padding: 16px 48px;
    margin: 31px 0px 53px 20px;
  }
  .project-second {
    background-image: url("../images/imgPageHome/bg-10-ipadmini-project-New.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
  }
  .project-second__container {
    flex-direction: column;
    padding: 88px 0px 36px 0px;
  }
  .project-second__title {
    font-size: 25px;
    line-height: 103%;
    padding-bottom: 0px;
    margin: 0px;
  }
  .project-second__form {
    margin-top: 24px;
  }
  .project-second__bottom {
    font-size: 13px;
  }
  .project-second .checkbox {
    margin-top: 0px;
  }
  .project-second .form {
    padding: 0px;
  }
  .project-second .form input[type=text] {
    max-width: 245px;
  }
  .project-second .form__body {
    flex-direction: column;
  }
  .project-second .form__left {
    display: flex;
  }
  .project-second .form__right {
    margin: 0px;
  }
  .project-second .form__item {
    display: flex;
  }
  .project-second .form__label {
    color: rgba(255, 255, 255, 0.5);
  }
  .project-second .form__button {
    max-height: 45px;
    padding: 16px 38px;
    margin: 19px 0px 53px 20px;
    border: none;
  }
}
@media screen and (max-width: 767px) {
  .page__news {
    padding: 8%;
  }
  .page__news .news__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .page__news .news__category-item {
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .page__news .news__category-item::after {
    content: "";
    margin-top: 5%;
    margin-bottom: 2%;
    display: block;
    height: 0.2px;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
  }
  .page__news .news__category-item .news__category-items button {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    background: linear-gradient(112.73deg, #1e4fc6 1.67%, #5e1ec6 100%);
    border-radius: 67px;
    border: none;
    width: 100px;
    height: 50px;
  }
  .page__news .news__category-item .news__category-items button:hover {
    background: linear-gradient(112.73deg, #000fda 1.67%, #a202ff 100%);
  }
  .page__news .news__category-item:first-child {
    width: 25px;
  }
  .page__news .news__wrapper {
    display: block;
    margin: 0;
  }
  .page__news .news__wrapper .news__link {
    display: flex;
  }
  .page__news .news__wrapper .news__box::after {
    content: "";
    margin-bottom: 5%;
    display: block;
    height: 0.5px;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
  }
  .page__news .news__wrapper .news__box {
    width: 100%;
  }
  .page__news .news__wrapper .news__box .box__about {
    width: 90%;
    margin: 2%;
  }
  .page__news .news__wrapper .news__box .box__about .box__title {
    margin-left: 5%;
    font-size: 15px;
  }
  .page__news .news__wrapper .news__box .box__about .box__text {
    display: none;
  }
  .page__news .news__wrapper .news__box .box__about .news__comment {
    display: none;
  }
  .page__news .news__wrapper .news__box .box__about .news__comment .box__date:after {
    display: none;
  }
}
/*# sourceMappingURL=home.css.map */
