@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  color: white;
}

.header {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  padding: 15px 0;
}
.header__inner {
  padding: 0 44px;
}
.header__columns {
  display: flex;
  justify-content: space-between;
  padding-right: 44px;
}
.header__logo-items {
  display: flex;
  justify-content: flex-start;
}
.header__eng {
  margin-left: 2.5em;
  margin-right: 1.3em;
  align-self: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}
.header__rus {
  margin-right: 1.3em;
  align-self: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}
.header__rus_white {
  color: white;
}
.header__rus_grey {
  color: rgba(255, 255, 255, 0.4);
}
.header__eng_clicked {
  color: white;
}
.header__info-items {
  display: flex;
}
.header__number {
  margin-right: 3em;
  align-self: center;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  font-family: "PT Mono", monospace;
  color: #ffffff;
}
.header__consult {
  margin-right: 10px 50px 0 0;
  padding-right: 93px;
}
.header__consult .btn {
  display: inline-block;
  padding: 10px 40px;
  position: relative;
  border-radius: 67px;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: center;
}
.header__consult .btn:hover {
  color: #5e1ec6;
}
.header .menu #menu__toggle {
  opacity: 0;
}
.header .menu__btn {
  display: flex;
  align-items: center;
  width: 36px;
  height: 10px;
  cursor: pointer;
  z-index: 1;
}
.header .menu__image {
  position: relative;
  right: 20px;
  top: 5px;
}
.header .menu__btn > span, .header .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 36px;
  height: 2px;
}
.header .menu__btn > span::after {
  content: "";
  top: 8px;
  width: 80%;
}
.header .menu__box {
  display: flex;
  justify-content: center;
  position: fixed;
  visibility: hidden;
  margin: 0px;
  padding: 5em 0;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  list-style: none;
  background-image: url(../images/imgHeader/news-background.png);
  background-size: cover;
  opacity: 1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
.header .menu__item {
  display: block;
  padding: 12px 24px;
  color: rgba(255, 255, 255, 0.4);
  font-family: "PT Mono", monospace;
  font-size: 45px;
  font-weight: 600;
  text-decoration: none;
}
.header .menu__item sup {
  margin: 20px;
}
.header .menu__contacts, .header .menu__number {
  display: none;
}
.header .menu__item:hover {
  color: #ffffff;
}
.header .menu #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.header .menu #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  width: 100%;
}
.header .menu #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

@media screen and (max-width: 768px) {
  .header__inner {
    padding: 0 22px;
  }
  .header__eng, .header__rus, .header__number, .header__consult {
    display: none;
  }
  .header__logo {
    width: 140px;
    height: 36px;
    padding: 6px 24px;
  }
  .header__hamburger {
    margin-left: auto;
  }
  .header__columns {
    padding-right: 25px;
  }
  .header .menu__image {
    display: none;
  }
  .header .menu__btn {
    width: 10px;
    height: 0px;
  }
  .header .menu__item {
    font-size: 20px;
  }
  .header .menu__contacts {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 14px;
  }
  .header .menu__number {
    display: flex;
    justify-content: center;
    margin: 5% 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: "PT Mono", monospace;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .header__inner {
    padding: 0 22px;
  }
  .header__eng, .header__rus {
    display: none;
  }
  .header__number {
    font-size: 16px;
  }
  .header__consult {
    margin: 0 0;
    padding-right: 30px;
  }
  .header__consult .btn {
    padding: 10px 24px;
    font-size: 12px;
    line-height: 15px;
  }
  .header__logo {
    width: 140px;
    height: 36px;
  }
  .header__hamburger {
    margin-left: auto;
  }
  .header__columns {
    padding-right: 25px;
  }
  .header .menu__image {
    display: none;
  }
  .header .menu__btn {
    width: 20px;
    height: 10px;
  }
  .header .menu__item {
    font-size: 40px;
  }
}
.header {
  position: static;
  background-color: transparent;
}
.header__eng {
  color: #ffffff;
}
.header__rus {
  color: rgba(255, 255, 255, 0.3);
}
.header__number {
  color: #ffffff;
}
.header .btn {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.header .menu__btn > span,
.header .menu__btn > span::after {
  background-color: #ffffff;
}
.header .menu__btn {
  position: relative;
}

body {
  background-image: url(../images/imgPageNews/big_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 100%;
}
body .news-inner__go-back {
  margin: 5% 0% 0% 8%;
}
body .news-inner__top {
  margin: 29% 20% 0% 0%;
  width: 80%;
  background-color: #ffffff;
  color: black;
}
body .news-inner__box {
  padding: 1.9em 0 0 9.5em;
}
body .news-inner__date {
  padding: 2em 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 97%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000032;
}
body .news-inner__title {
  margin-right: 3%;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000032;
  letter-spacing: 0.1em;
}
body .news-inner__bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  color: black;
}
body .news-inner__subtitle {
  padding: 3% 0 0 4%;
  font-weight: 400;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000032;
}
body .news-inner__article {
  background-color: #ffffff;
  width: 100%;
}
body .news-inner__article .news-article {
  margin-left: 20%;
  padding-top: 3em;
  width: 800px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #000032;
  text-align: justify;
}
body .news-inner__article .news-article .new-article__passage {
  padding-bottom: 1em;
}
body .news-inner__article .news-article .new-article__title {
  margin: 30px 0px;
}
body .news-inner__article .news-article .new-article__list {
  margin-left: 20px;
}
body .news-inner__article .new-article__bold {
  font-weight: bold;
}
body .news-inner__article .news-article__picture {
  margin: 5% 0 20% 0;
}
body .news-inner__article .news-article__picture .news-article__pic {
  max-width: 100%;
}
body .news-inner__article .news-article__picture .news-article__figcaption {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: rgba(0, 0, 50, 0.8);
}
body .other-news {
  margin-top: 10%;
  width: 100%;
  color: #000032;
}
body .other-news .news__title {
  font-weight: 400;
  font-size: 52px;
  line-height: 57px;
  text-transform: uppercase;
  color: #000032;
}
body .other-news .news__title::after {
  content: "";
  margin-top: 3%;
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 50, 0.2);
}
body .other-news .news__category-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #000032;
}
body .other-news .news__category-items .news__wrapper {
  display: flex;
  margin-top: 40px;
  width: 100%;
}
body .other-news .news__category-items .news__box {
  display: flex;
  flex-direction: column;
  width: 410px;
}
body .other-news .news__category-items .news__box .news__link {
  text-decoration: none;
}
body .other-news .news__category-items .news__box .box__img .box__img-adaptive {
  max-width: 100%;
}
body .other-news .news__category-items .news__box .box__about {
  margin-bottom: 50px;
  color: #000032;
  text-decoration: none;
  letter-spacing: 0.03em;
}
body .other-news .news__category-items .news__box .box__about .box__title {
  margin: 20px 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000032;
}
body .other-news .news__category-items .news__box .box__about .box__text {
  font-size: 14px;
  line-height: 130%;
  text-decoration: none;
}
body .other-news .news__category-items .news__box .news__comment {
  width: 380px;
}
body .other-news .news__category-items .news__box .news__comment:after {
  content: "";
  margin-bottom: 10%;
  display: block;
  height: 1px;
  background: rgba(0, 0, 50, 0.2);
  width: 100%;
}
body .other-news .news__category-items .news__box .news__comment .box__date {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 50, 0.6);
}
body .other-news .news__category-items .news__box .news__comment .box__date .box__comment {
  text-transform: uppercase;
}
body .other-news .news__category-items .news__box .news__comment .box__date_first {
  margin-bottom: 18px;
}
body .other-news .news__category-items .news__comment_first {
  margin-top: 20%;
}
body .other-news .news__category-items .news__comment_second {
  margin-top: 11%;
}
body .other-news .news__category-items .news__comment_third {
  margin-top: 8%;
}
body .news-inner__contacts {
  background-color: #ffffff;
  width: 100%;
}
body .news-inner__contacts .contacts__inner {
  display: flex;
  justify-content: center;
}
body .news-inner__contacts .contacts__inner .contacts__items {
  margin-top: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body .news-inner__contacts .contacts__inner .contacts__items .contacts__title {
  margin: 0 10% 0 15%;
  font-weight: 400;
  font-size: 45px;
  line-height: 110%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #000032;
}
body .news-inner__contacts .contacts__inner .contacts__items .contacts__subtitle {
  margin-right: 15%;
  width: 80%;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000032;
}
body .news-inner__contacts .contacts__inner .contacts__items .contacts__form {
  display: grid;
  grid-template-areas: "Nam Email" "Number Task" "Check button";
  margin: 18% 0 25% 0;
  gap: 20%;
}
body .news-inner__contacts .contacts__inner .contacts__items .contacts__form #name,
body .news-inner__contacts .contacts__inner .contacts__items .contacts__form #number,
body .news-inner__contacts .contacts__inner .contacts__items .contacts__form #email {
  font-size: 18px;
}
body .news-inner__contacts .contacts__inner .contacts__items .contacts__form input[type=text],
body .news-inner__contacts .contacts__inner .contacts__items .contacts__form input[type=number],
body .news-inner__contacts .contacts__inner .contacts__items .contacts__form input[type=email] {
  border: transparent;
  color: #000032;
}
body .news-inner__contacts .contacts__inner .contacts__items .contacts__form .consult__name:after,
body .news-inner__contacts .contacts__inner .contacts__items .contacts__form .consult__number:after,
body .news-inner__contacts .contacts__inner .contacts__items .contacts__form .consult__email::after,
body .news-inner__contacts .contacts__inner .contacts__items .contacts__form .consult__number:after {
  content: "";
  margin: 2% 0 15% 0;
  display: block;
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 50, 0.4);
}
body .news-inner__contacts .contacts__inner .contacts__items .contacts__form input[type=text]:focus,
body .news-inner__contacts .contacts__inner .contacts__items .contacts__form input[type=number]:focus,
body .news-inner__contacts .contacts__inner .contacts__items .contacts__form input[type=email]:focus {
  outline: none;
}
body .news-inner__contacts .contacts__inner .contacts__items .contacts__form .consult__label::after {
  color: red;
  content: "*";
  position: relative;
  bottom: 5px;
}
body .news-inner__contacts .contacts__inner .contacts__items .contacts__form ::-webkit-input-placeholder {
  color: #000032;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
body .news-inner__contacts .contacts__inner .contacts__items .consult__task::after {
  content: "";
  margin-top: 2%;
  display: block;
  height: 1px;
  background: rgba(0, 0, 50, 0.4);
}
body .news-inner__contacts .contacts__inner .contacts__items input[type=text]:focus {
  outline: none;
}
body .news-inner__contacts .contacts__inner #task {
  font-size: 20px;
  width: 100%;
  border: transparent;
  color: #000032;
}
body .news-inner__contacts .contacts__inner .consult__checkbox {
  margin-top: 5%;
}
body .news-inner__contacts .contacts__inner .consult__checkbox input[type=checkbox] {
  display: none;
}
body .news-inner__contacts .contacts__inner .consult__checkbox label {
  padding: 10px 0;
  color: #000032;
  cursor: pointer;
  font-weight: normal;
  font-size: 17px;
}
body .news-inner__contacts .contacts__inner .consult__checkbox label:before {
  content: " ";
  display: inline-block;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  background: #fff;
  text-align: center;
  border: 1px solid #e3e3e3;
  vertical-align: middle;
  color: #000;
}
body .news-inner__contacts .contacts__inner .consult__checkbox input:checked + label:before {
  content: "";
  background: linear-gradient(112.73deg, #1e4fc6 1.67%, #5e1ec6 100%);
  background-image: url(../images/imgHeader/checked.png);
  background-repeat: no-repeat;
}
body .news-inner__contacts .contacts__inner .consult__checkbox .agree__link {
  color: #000032;
  cursor: pointer;
  margin-left: 35px;
}
body .news-inner__contacts .contacts__inner .consult__checkbox .agree__link_passage {
  display: block;
  padding-left: 38px;
}
body .news-inner__contacts .contacts__inner .consult__send {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background: linear-gradient(112.73deg, #1e4fc6 1.67%, #5e1ec6 100%);
  border-radius: 67px;
  border: none;
  margin-top: 5%;
  padding: 2% 5%;
  line-height: 97%;
  letter-spacing: 0.1em;
  cursor: pointer;
}
body .news-inner__contacts .contacts__inner .consult__send:hover {
  background: linear-gradient(112.73deg, #000fda 1.67%, #a202ff 100%);
}
body .news-inner__contacts .contacts__inner .consult__send .consult__name {
  grid-area: Nam;
}
body .news-inner__contacts .contacts__inner .consult__send .consult__number {
  grid-area: Number;
}
body .news-inner__contacts .contacts__inner .consult__send .consult__email {
  grid-area: Email;
}
body .news-inner__contacts .contacts__inner .consult__send .consult__task {
  grid-area: Task;
}
body .news-inner__contacts .contacts__inner .consult__send .consult__checkbox {
  grid-area: Check;
}
body .news-inner__contacts .contacts__inner .consult__send .consult__send {
  grid-area: button;
}
body .news-inner__contacts .contacts__inner .contacts__address {
  margin: 1%;
}
body .news-inner__contacts .contacts__inner .contacts__address .contacts__info {
  margin-bottom: 2%;
  display: flex;
  justify-content: start;
}
body .news-inner__contacts .contacts__inner .contacts__address .contacts__info .contacts__info-link {
  margin-left: 2%;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000032;
  font-family: "PT Mono", monospace;
  text-decoration: none;
}
body .fixedbut {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
  color: #fff;
  text-decoration: none;
  border-radius: 67px;
  -webkit-transition: 0.33s all ease-out;
  -o-transition: 0.33s all ease-out;
  transition: 0.33s all ease-out;
}
body .news__footer {
  background-color: #fff;
  width: 100%;
}
body .news__footer .news__footer-text {
  font-weight: 400;
  font-size: 17px;
  padding-left: 8%;
  padding-bottom: 52px;
}

@media screen and (max-width: 767px) {
  body {
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: right top;
    height: 100vh;
    max-width: 100%;
  }
  body .news-inner__top {
    width: 100%;
  }
  body .news-inner__container {
    margin: 0 5%;
  }
  body .news-inner__box {
    padding: 5%;
  }
  body .news-inner__bottom {
    display: block;
  }
  body .news-inner__article .news-article__picture {
    margin: 5% 5% 0 0;
  }
  body .news-inner__article .news-article__picture .news-article__pic {
    width: 100%;
  }
  body .news-inner__date {
    padding-top: 2% 0;
  }
  body .news-inner__title {
    font-size: 16px;
  }
  body .news-inner__subtitle {
    font-size: 15px;
  }
  body .news-inner .news-article {
    padding-top: 5%;
    margin: 0 5%;
    font-size: 14px;
    max-width: 100%;
  }
  body .news-inner .news-article .new-article__passage {
    margin-right: 10%;
    word-wrap: break-all;
    overflow: hidden;
  }
  body .news-inner .news-article .new-article__title {
    font-size: 16px;
  }
  body .news-inner .news-article .new-article__list .new-article__ol {
    margin-right: 10%;
  }
  body .news-inner .other-news .news__title {
    margin: 5%;
    font-size: 30px;
  }
  body .news-inner .other-news .news__category-items .news__wrapper {
    display: block;
  }
  body .news-inner .other-news .news__category-items .news__wrapper .news__link {
    display: flex;
  }
  body .news-inner .other-news .news__category-items .news__wrapper .news__box::after {
    content: "";
    margin-bottom: 10%;
    display: block;
    height: 1px;
    background: rgba(0, 0, 50, 0.2);
    width: 100%;
  }
  body .news-inner .other-news .news__category-items .news__wrapper .news__box {
    width: auto;
  }
  body .news-inner .other-news .news__category-items .news__wrapper .news__box .box__about {
    width: 80%;
  }
  body .news-inner .other-news .news__category-items .news__wrapper .news__box .box__about .box__title {
    margin-left: 5%;
    font-size: 18px;
  }
  body .news-inner .other-news .news__category-items .news__wrapper .news__box .box__about .box__text {
    display: none;
  }
  body .news-inner .other-news .news__category-items .news__wrapper .news__box .box__about .news__comment {
    display: none;
  }
  body .news-inner .other-news .news__category-items .news__wrapper .news__box .box__about .news__comment .box__date:after {
    display: none;
  }
  body .news-inner .news-inner__contacts .contacts__inner {
    display: block;
  }
  body .news-inner .news-inner__contacts .contacts__inner .contacts__items {
    margin-top: 0;
    margin-right: 0;
    display: block;
  }
  body .news-inner .news-inner__contacts .contacts__inner .contacts__items .contacts__subtitle {
    display: block;
    margin: 0 5%;
  }
  body .news-inner .news-inner__contacts .contacts__inner .contacts__title {
    font-size: 30px;
    margin: 5%;
  }
  body .news-inner .news-inner__contacts .contacts__inner .contacts__form {
    display: none;
  }
  body .news-inner .news-inner__contacts .contacts__inner .contacts__address {
    margin: 5%;
  }
  body .news-inner .news-inner__contacts .contacts__inner .contacts__address .contacts__info .contacts__info-link {
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  body {
    background-position: right top;
  }
  body .news-inner__top {
    margin-top: 40%;
    width: 90%;
  }
  body .news-inner__container {
    margin: 0 5%;
  }
  body .news-inner__box {
    padding: 5%;
    padding-bottom: 2%;
  }
  body .news-inner__bottom {
    display: block;
  }
  body .news-inner__article .news-article__picture {
    margin-top: 5%;
    margin-right: 5%;
  }
  body .news-inner__article .news-article__picture .news-article__pic {
    width: 100%;
  }
  body .news-inner__date {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  body .news-inner__title {
    font-size: 20px;
  }
  body .news-inner__subtitle {
    padding-top: 1%;
    font-size: 17px;
  }
  body .news-inner .news-article {
    padding-top: 5%;
    margin-left: 4%;
    margin-right: 5%;
    font-size: 16px;
    max-width: 100%;
  }
  body .news-inner .news-article .new-article__passage {
    margin-right: 10%;
    word-wrap: break-all;
    overflow: hidden;
  }
  body .news-inner .news-article .new-article__title {
    font-size: 20px;
  }
  body .news-inner .news-article .new-article__list .new-article__ol {
    margin-right: 10%;
  }
  body .news-inner .other-news .news__title {
    margin: 5%;
    font-size: 30px;
  }
  body .news-inner .other-news .news__category-items {
    display: block;
  }
  body .news-inner .other-news .news__category-items .news__wrapper {
    margin-left: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
  body .news-inner .other-news .news__category-items .news__wrapper .news__box {
    width: auto;
  }
  body .news-inner .other-news .news__category-items .news__wrapper .news__box .box__about {
    width: 100%;
  }
  body .news-inner .other-news .news__category-items .news__wrapper .news__box .box__about .box__title {
    font-size: 18px;
  }
  body .news-inner .other-news .news__category-items .news__wrapper .news__box .box__about .box__text {
    display: block;
  }
  body .news-inner .other-news .news__category-items .news__wrapper .news__box .box__about .news__comment {
    width: auto;
  }
  body .news-inner .other-news .news__category-items .news__wrapper .news__box .box__about .news__comment .box__date .box__date-item {
    font-size: 15px;
  }
  body .news-inner .other-news .news__category-items .news__wrapper .news__box .box__about .news__comment .box__date .box__comment {
    font-size: 15px;
  }
  body .news-inner .other-news .news__category-items .news__wrapper .news__box .box__about .news__comment .box__date:after {
    display: none;
  }
  body .news-inner .news-inner__contacts .contacts__inner {
    display: block;
  }
  body .news-inner .news-inner__contacts .contacts__inner .contacts__items {
    margin-top: 0;
    margin-right: 0;
    display: block;
  }
  body .news-inner .news-inner__contacts .contacts__inner .contacts__items .contacts__subtitle {
    display: block;
    margin: 0 5%;
  }
  body .news-inner .news-inner__contacts .contacts__inner .contacts__title {
    font-size: 30px;
    margin: 5%;
  }
  body .news-inner .news-inner__contacts .contacts__inner .contacts__form {
    margin: 10%;
    margin-bottom: 15%;
  }
  body .news-inner .news-inner__contacts .contacts__inner .contacts__address {
    margin-left: 60%;
  }
  body .news-inner .news-inner__contacts .contacts__inner .contacts__address .contacts__info .contacts__info-link {
    font-size: 15px;
  }
}
/*# sourceMappingURL=news.css.map */
