@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover {
  color: white;
}

.header {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  padding: 15px 0;
}
.header__inner {
  padding: 0 44px;
}
.header__columns {
  display: flex;
  justify-content: space-between;
  padding-right: 44px;
}
.header__logo-items {
  display: flex;
  justify-content: flex-start;
}
.header__eng {
  margin-left: 2.5em;
  margin-right: 1.3em;
  align-self: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}
.header__rus {
  margin-right: 1.3em;
  align-self: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}
.header__rus_white {
  color: white;
}
.header__rus_grey {
  color: rgba(255, 255, 255, 0.4);
}
.header__eng_clicked {
  color: white;
}
.header__info-items {
  display: flex;
}
.header__number {
  margin-right: 3em;
  align-self: center;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  font-family: "PT Mono", monospace;
  color: #ffffff;
}
.header__consult {
  margin-right: 10px 50px 0 0;
  padding-right: 93px;
}
.header__consult .btn {
  display: inline-block;
  padding: 10px 40px;
  position: relative;
  border-radius: 67px;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  line-height: 38px;
  letter-spacing: 0.1em;
  text-align: center;
}
.header__consult .btn:hover {
  color: #5e1ec6;
}
.header .menu #menu__toggle {
  opacity: 0;
}
.header .menu__btn {
  display: flex;
  align-items: center;
  width: 36px;
  height: 10px;
  cursor: pointer;
  z-index: 1;
}
.header .menu__image {
  position: relative;
  right: 20px;
  top: 5px;
}
.header .menu__btn > span, .header .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 36px;
  height: 2px;
}
.header .menu__btn > span::after {
  content: "";
  top: 8px;
  width: 80%;
}
.header .menu__box {
  display: flex;
  justify-content: center;
  position: fixed;
  visibility: hidden;
  margin: 0px;
  padding: 5em 0;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  list-style: none;
  background-image: url(../images/imgHeader/news-background.png);
  background-size: cover;
  opacity: 1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
.header .menu__item {
  display: block;
  padding: 12px 24px;
  color: rgba(255, 255, 255, 0.4);
  font-family: "PT Mono", monospace;
  font-size: 45px;
  font-weight: 600;
  text-decoration: none;
}
.header .menu__item sup {
  margin: 20px;
}
.header .menu__contacts, .header .menu__number {
  display: none;
}
.header .menu__item:hover {
  color: #ffffff;
}
.header .menu #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.header .menu #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  width: 100%;
}
.header .menu #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

@media screen and (max-width: 768px) {
  .header__inner {
    padding: 0 22px;
  }
  .header__eng, .header__rus, .header__number, .header__consult {
    display: none;
  }
  .header__logo {
    width: 140px;
    height: 36px;
    padding: 6px 24px;
  }
  .header__hamburger {
    margin-left: auto;
  }
  .header__columns {
    padding-right: 25px;
  }
  .header .menu__image {
    display: none;
  }
  .header .menu__btn {
    width: 10px;
    height: 0px;
  }
  .header .menu__item {
    font-size: 20px;
  }
  .header .menu__contacts {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 14px;
  }
  .header .menu__number {
    display: flex;
    justify-content: center;
    margin: 5% 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-family: "PT Mono", monospace;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .header__inner {
    padding: 0 22px;
  }
  .header__eng, .header__rus {
    display: none;
  }
  .header__number {
    font-size: 16px;
  }
  .header__consult {
    margin: 0 0;
    padding-right: 30px;
  }
  .header__consult .btn {
    padding: 10px 24px;
    font-size: 12px;
    line-height: 15px;
  }
  .header__logo {
    width: 140px;
    height: 36px;
  }
  .header__hamburger {
    margin-left: auto;
  }
  .header__columns {
    padding-right: 25px;
  }
  .header .menu__image {
    display: none;
  }
  .header .menu__btn {
    width: 20px;
    height: 10px;
  }
  .header .menu__item {
    font-size: 40px;
  }
}
.header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.463);
}
.header .header__number {
  color: white;
}
.header .btn {
  color: #ffffff;
  border: 1px solid #fff;
}
.header .menu__btn > span,
.header .menu__btn > span::after {
  background-color: white;
}
.header .menu__btn {
  position: fixed;
}

main {
  font-family: "Lato", sans-serif;
  color: #ffffff;
}

.wrapper .desing-pg-one {
  background-image: url("../images/imgPageDesign/bg/bg_2.png");
  background-size: cover;
  padding-top: 146px;
  padding-bottom: 70px;
}
.wrapper .desing-pg-one__button {
  padding-left: 20px;
}
.wrapper .desing-pg-one__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.wrapper .desing-pg-one__wrapper img {
  max-width: 854px;
  max-height: 608px;
  width: 100%;
}
.wrapper .desing-pg-one__left-part {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
.wrapper .desing-pg-one__left-part h2 {
  font-weight: 400;
  font-size: 52px;
  line-height: 57px;
  text-transform: uppercase;
  max-width: 620px;
  margin-bottom: 26px;
}
.wrapper .desing-pg-one__left-part p {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  max-width: 508px;
}
.wrapper .desing-pg-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: 90px;
  background-image: url("../images/imgPageDesign/bg/bg_2.png");
  background-size: cover;
  padding-top: 80px;
}
.wrapper .desing-pg-two img {
  max-width: 692px;
  max-height: 620px;
  width: 100%;
}
.wrapper .desing-pg-two__right-part {
  margin-right: 50px;
  margin-bottom: 43px;
}
.wrapper .desing-pg-two__right-part h2 {
  font-weight: 400;
  font-size: 52px;
  line-height: 57px;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.wrapper .desing-pg-two__right-part p {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  max-width: 598px;
  color: rgba(255, 255, 255, 0.8);
}
.wrapper .desing-pg-two__right-part .right-part__info {
  display: grid;
  grid-template-columns: 104px 355px;
  gap: 29px;
}
.wrapper .desing-pg-two__right-part .right-part__info .info__selected {
  padding-bottom: 23px;
}
.wrapper .desing-pg-three {
  background-image: url("../images/imgPageDesign/bg/bg_2.png");
  background-size: cover;
  padding: 50px 0;
}
.wrapper .desing-pg-three .desing-pg-three__container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: skew(5deg);
  max-width: 75%;
  margin: 0 auto;
}
.wrapper .desing-pg-three .desing-pg-three__container .card {
  flex: 1;
  transition: all 1s ease-in-out;
  position: relative;
}
.wrapper .desing-pg-three .desing-pg-three__container .card .card__head {
  color: black;
  background: rgba(79, 39, 198, 0.558);
  padding: 0.5em;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1em;
  white-space: nowrap;
}
.wrapper .desing-pg-three .desing-pg-three__container .card:hover {
  flex-grow: 10;
}
.wrapper .desing-pg-three .desing-pg-three__container .card:hover video {
  filter: grayscale(0);
}
.wrapper .desing-pg-three .desing-pg-three__container .card:hover .card__head {
  text-align: center;
  top: calc(100% - 2em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  transform: rotate(0deg) skew(-5deg);
}
.wrapper .desing-pg-three .desing-pg-three__container .card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(100%);
}
.wrapper .desing-pg-three .desing-pg-three__container .card:not(:nth-child(5)) {
  margin-right: 1em;
}
.wrapper .desing-pg-four {
  background-image: url("../images/imgPageDesign/bg/bg_2.png");
  background-size: cover;
  padding-top: 80px;
}
.wrapper .desing-pg-four__gallery {
  display: flex;
  justify-content: center;
  gap: 54px;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 35px 90px;
}
.wrapper .desing-pg-four__gallery img {
  max-width: 486px;
  width: 100%;
  object-fit: cover;
  padding-bottom: 54px;
}
.wrapper .desing-pg-four__gallery .desing-pg-four__left .relative {
  position: relative;
}
.wrapper .desing-pg-four__gallery .desing-pg-4__right {
  padding-top: 200px;
}
.wrapper .desing-pg-four__gallery .hover img:hover {
  transform: scale(1.5);
  transition: all 1.5s ease 0s;
}
.wrapper .desing-pg-four h2 {
  font-weight: 400;
  font-size: 52px;
  line-height: 57px;
  text-transform: uppercase;
  position: absolute;
  top: 120px;
  left: -175px;
  padding-left: 15px;
  margin-left: 62px;
}
.wrapper .desing-pg-five {
  background-image: url("../images/imgPageDesign/bg/bg_2.png");
  background-size: cover;
  padding: 90px 0 85px 0;
}
.wrapper .desing-pg-five__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.wrapper .desing-pg-five__title {
  font-weight: 400;
  font-size: 52px;
  line-height: 57px;
  text-transform: uppercase;
  max-width: 776px;
  max-height: 171px;
  margin-left: 90px;
  margin-bottom: 29px;
  letter-spacing: 0.01em;
}
.wrapper .desing-pg-five img {
  max-width: 1025px;
  max-height: 460px;
  width: 100%;
  align-items: center;
  margin-bottom: 90px;
}
.wrapper .desing-pg-six {
  background-image: url("../images/imgPageDesign/bg/bg_6.png");
  background-size: cover;
  padding-top: 130px;
}
.wrapper .desing-pg-six__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}
.wrapper .desing-pg-six h2 {
  font-weight: 400;
  font-size: 52px;
  line-height: 57px;
  text-transform: uppercase;
  max-width: 502px;
  max-height: 114px;
}
.wrapper .desing-pg-six .registration {
  padding-bottom: 90px;
}
.wrapper .desing-pg-six .registration__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.03em;
  max-width: 439px;
  max-height: 58px;
  margin-bottom: 131px;
  color: #ffffff;
  letter-spacing: 0.01em;
}
.wrapper .desing-pg-six .registration__form {
  display: flex;
  gap: 54px;
  margin-bottom: 121px;
}
.wrapper .desing-pg-six .registration__form .form {
  display: flex;
  flex-direction: column;
}
.wrapper .desing-pg-six .registration__form .form__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.wrapper .desing-pg-six .registration__form .form__wrapper .form__reg {
  position: relative;
  color: #ffffff;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 15px;
  padding-left: 9px;
  margin-bottom: 36px;
  outline: none;
}
.wrapper .desing-pg-six .registration__form .form__wrapper .form__reg::placeholder {
  color: #ffffff;
}
.wrapper .desing-pg-six .registration__form .form__wrapper .form__reg:focus::placeholder {
  opacity: 0;
}
.wrapper .desing-pg-six .registration__form .form__wrapper .required::before {
  content: "*";
  color: red;
  position: absolute;
  left: -1px;
  top: 1px;
}
.wrapper .desing-pg-six .registration__form .checkbox__input {
  display: none;
}
.wrapper .desing-pg-six .registration__form .checkbox__input:checked {
  transform: scale(1);
}
.wrapper .desing-pg-six .registration__form .checkbox__label {
  font-weight: 400;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.wrapper .desing-pg-six .registration__form .checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 20px;
  height: 20px;
  letter-spacing: 0.05em;
  background-color: white;
  border-radius: 2px;
  margin-right: 10px;
}
.wrapper .desing-pg-six .registration__form .checkbox__label::after {
  transition: transform 0.5s ease 0s;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
}
.wrapper .desing-pg-six .registration__form .checkbox .checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}
.wrapper .desing-pg-six .registration__form .checkbox__label::after {
  content: url("../images/imgPageDesign/icons/sign.png");
}
.wrapper .desing-pg-six .registration__form .submit {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background: linear-gradient(112.73deg, #1e4fc6 1.67%, #5e1ec6 100%);
  border-radius: 67px;
  border: none;
  max-width: 237px;
  height: 52px;
}
.wrapper .desing-pg-six .registration__form .submit:hover {
  background: linear-gradient(112.73deg, #000fda 1.67%, #a202ff 100%);
}
.wrapper .desing-pg-six__contacts {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.03em;
  gap: 10px;
  margin-bottom: 57px;
}
.wrapper .desing-pg-six__contacts a {
  color: #ffffff;
  text-decoration: none;
}
.wrapper .desing-pg-six__contacts .desing-pg-six__telephone::before {
  position: relative;
  bottom: -7px;
  content: url("../images/imgPageDesign/icons/phone.png");
  padding-right: 23px;
}
.wrapper .desing-pg-six__contacts .desing-pg-six__email::before {
  position: relative;
  bottom: -7px;
  content: url("../images/imgPageDesign/icons/mail.png");
  padding-right: 18px;
}
.wrapper .desing-pg-six .desing {
  font-weight: 400;
  font-size: 17px;
  padding-left: 8%;
  padding-bottom: 52px;
}
.wrapper .desing-pg-six .ghost-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
@media (max-width: 1080px) {
  .wrapper .desing-pg-five {
    padding: 20px 0 20px 0;
  }
  .wrapper .desing-pg-five__title {
    font-size: 39px;
    line-height: 43px;
  }
}
@media (max-width: 850px) {
  .wrapper .desing-pg-four__gallery {
    gap: 15px;
  }
  .wrapper .desing-pg-four__gallery img {
    padding-bottom: 15px;
  }
  .wrapper .desing-pg-four__gallery .desing-pg-4__right {
    padding-top: 90px;
  }
  .wrapper .desing-pg-four h2 {
    font-size: 32px;
    top: 84px;
    left: -110px;
  }
  .wrapper .desing-pg-five__title {
    font-size: 31px;
    line-height: 39px;
  }
}
@media (max-width: 768px) {
  .wrapper .desing-pg-one {
    padding: 83px 0 38px 0;
  }
  .wrapper .desing-pg-one__button {
    padding-left: 53px;
  }
  .wrapper .desing-pg-one__button img {
    margin-bottom: 30px;
  }
  .wrapper .desing-pg-one__wrapper {
    flex-direction: column;
  }
  .wrapper .desing-pg-one__wrapper img {
    padding-left: 93px;
  }
  .wrapper .desing-pg-one__left-part h2 {
    font-size: 32px;
    line-height: 39px;
  }
  .wrapper .desing-pg-one__left-part p {
    font-size: 16px;
  }
  .wrapper .desing-pg-two {
    padding: 50px 0 25px 0;
  }
  .wrapper .desing-pg-two img {
    padding-right: 20px;
  }
  .wrapper .desing-pg-two__right-part {
    margin: 0 20px 0 0;
    max-width: 390px;
  }
  .wrapper .desing-pg-two__right-part h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
  }
  .wrapper .desing-pg-two__right-part p {
    font-size: 14px;
    line-height: 22px;
  }
  .wrapper .desing-pg-two__right-part .right-part__info {
    grid-template-columns: 70px 190px;
    gap: 10px;
  }
  .wrapper .desing-pg-two__right-part .right-part__info p {
    font-size: 10px;
    margin-bottom: 10px;
    line-height: 17px;
  }
  .wrapper .desing-pg-two__right-part .right-part__info .info__selected {
    padding-bottom: 16px;
  }
  .wrapper .desing-pg-three {
    display: none;
  }
  .wrapper .desing-pg-four {
    padding-top: 55px;
  }
  .wrapper .desing-pg-four__gallery {
    gap: 15px;
    max-width: 70%;
    padding-bottom: 56px;
  }
  .wrapper .desing-pg-four__gallery img {
    padding-bottom: 15px;
  }
  .wrapper .desing-pg-four__gallery .desing-pg-4__right {
    padding-top: 90px;
  }
  .wrapper .desing-pg-four h2 {
    font-size: 32px;
    top: 84px;
    left: -110px;
  }
  .wrapper .desing-pg-five {
    padding: 20px 0 20px 0;
  }
  .wrapper .desing-pg-five__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    max-width: 527px;
    margin-left: 0;
  }
  .wrapper .desing-pg-five img {
    max-width: 589px;
    margin-bottom: 38px;
  }
  .wrapper .desing-pg-six {
    padding-top: 57px;
  }
  .wrapper .desing-pg-six h2 {
    font-size: 32px;
    line-height: 39px;
  }
  .wrapper .desing-pg-six__registration__text {
    line-height: 20px;
  }
  .wrapper .desing-pg-six__registration .form__wrapper .form__reg::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  .wrapper .desing-pg-six__contacts {
    align-items: flex-end;
    gap: 5px;
  }
  .wrapper .desing-pg-six__contacts a {
    font-size: 15px;
    line-height: 15px;
  }
  .wrapper .desing-pg-six .desing {
    text-align: center;
  }
  .wrapper .desing-pg-six__telephone {
    padding-right: 69px;
  }
}
@media (max-width: 700px) {
  .wrapper .desing-pg-six__registration .registration__form {
    flex-wrap: wrap;
  }
}
@media (max-width: 570px) {
  .wrapper .desing-pg-two {
    padding: 50px 25px;
    justify-content: center;
  }
  .wrapper .desing-pg-two img {
    display: none;
  }
  .wrapper .desing-pg-two__right-part {
    margin: 0 10px 0 0;
  }
  .wrapper .desing-pg-two__right-part h2 {
    font-size: 21px;
    line-height: 12px;
    margin-bottom: 12px;
  }
  .wrapper .desing-pg-two__right-part p {
    line-height: 15px;
  }
  .wrapper .desing-pg-two__right-part .right-part__info {
    grid-template-columns: 70px 190px;
    gap: 10px;
  }
  .wrapper .desing-pg-two__right-part .right-part__info .info__first p {
    font-size: 10px;
    margin-bottom: 10px;
    line-height: 17px;
  }
  .wrapper .desing-pg-two__right-part .right-part__info .info__first .info__selected {
    padding-bottom: 16px;
  }
  .wrapper .desing-pg-five {
    padding: 20px 0 20px 0;
  }
  .wrapper .desing-pg-five__title {
    font-size: 20px;
    line-height: 23px;
  }
  .wrapper .desing-pg-five img {
    margin-bottom: 16px;
  }
  .wrapper .desing-pg-six {
    padding-top: 22px;
  }
  .wrapper .desing-pg-six h2 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .wrapper .desing-pg-six__registration .registration__text {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 31px;
  }
  .wrapper .desing-pg-six__registration .registration__form {
    margin-bottom: 35px;
  }
  .wrapper .desing-pg-six__registration .registration__form .registration__form-first {
    display: none;
  }
  .wrapper .desing-pg-six__registration .registration__form .registration__form-second .form__wrapper label,
  .wrapper .desing-pg-six__registration .registration__form .registration__form-second .form__wrapper input {
    display: none;
  }
  .wrapper .desing-pg-six__registration .registration__form .registration__form-second .form__wrapper .submit {
    width: 286px;
  }
  .wrapper .desing-pg-six__contacts {
    align-items: flex-start;
    gap: 5px;
  }
  .wrapper .desing-pg-six .desing {
    font-size: 13px;
    line-height: 18px;
    text-align: start;
    padding-bottom: 10px;
  }
}
@media (max-width: 375px) {
  .wrapper .desing-pg-one__button {
    padding-left: 28px;
  }
  .wrapper .desing-pg-one__button img {
    margin-bottom: 30px;
  }
  .wrapper .desing-pg-one__wrapper img {
    padding-left: 0;
  }
  .wrapper .desing-pg-one__left-part {
    padding: 0 30px;
  }
  .wrapper .desing-pg-one__left-part h2 {
    font-size: 26px;
    line-height: 31px;
  }
  .wrapper .desing-pg-one__left-part p {
    font-size: 14px;
    line-height: 18px;
  }
  .wrapper .desing-pg-three .carousel-item {
    height: 160px;
    max-width: 370px;
  }
  .wrapper .desing-pg-four {
    padding-top: 35px;
  }
  .wrapper .desing-pg-four__gallery {
    padding-bottom: 15px;
    max-width: 80%;
  }
  .wrapper .desing-pg-four__gallery img {
    padding-bottom: 15px;
  }
  .wrapper .desing-pg-four__gallery .desing-pg-four__left {
    padding-top: 39px;
  }
  .wrapper .desing-pg-four__gallery .desing-pg-four__left .select {
    display: none;
  }
  .wrapper .desing-pg-four__gallery .desing-pg-4__right {
    padding-top: 0;
  }
  .wrapper .desing-pg-four h2 {
    font-size: 25px;
    top: -90px;
    left: -80px;
  }
}
@media (max-width: 330px) {
  .wrapper .desing-pg-one__left-part h2 {
    font-size: 21px;
    line-height: 27px;
  }
}
/*# sourceMappingURL=style.css.map */
